* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    cursor: url('cursor.png'), auto;
}

body {
    background-image: url('white.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Philips {
    background-color: rgba(112, 138, 142, 0.772);
    height: 120px;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hello {
    width: 200px;
    height: 100px;
    padding: 10px;
    background-color: rgba(127, 255, 212, 0.164);
    border-radius: 10px;
    margin: 5px;
}

.hello1 {
    background-color: #f0f0f0;
    width: 100%;
    height: 1000px;
    padding: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.menu {
    color: rgba(75, 58, 58, 0.589);
    font-size: large;
    text-decoration: none;
    transition: 0.5s;
}

.menu:hover {
    color: rgba(0, 183, 255, 0.589);
}

.Grp {
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
}

.flex {
    display: flex;
    justify-content: center;
    gap: 50px; /* مسافة بين الأزرار */
}

.dev, .gestion, .cloud, .app, .réseaux, .web, .cyber {
    font-size: x-large;
    background-color: rgba(199, 204, 211, 0.107);
    text-decoration: none;
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    color: black;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.dev:hover, .gestion:hover {
    background-color: rgba(199, 204, 211, 0.3);
}

.devv {
    padding: 10px;
}
